<% var row = 1 %>
<% var col = 1 %>
<% var HOMELINK = 'https://add2kart.run-ap-south1.goorm.io'; %>
<% var url %>
<nav class="navbar navbar-expand-xl navbar-dark fixed-top">
  <a class="navbar-brand" href="/"><span class='brand-text1'>add</span><img class='brand-img' src ='https://cdn.pixabay.com/photo/2016/02/05/15/12/two-1181082_960_720.png'><span class='brand-text2'>kart</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto text-center" >
      <li class="nav-item active">
        <a style="font-family: 'Spinnaker', sans-serif;"class="nav-link" href="/"><i class="fas fa-home "></i> HOME<span class="sr-only">(current)</span></a>
      </li>
		<!--FOOD-->
		<li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> FOOD
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
				
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Breakfast
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Snacks
				</button>
				</form>
				<div class="dropdown-divider"></div>
		
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Cooking
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Health Supplements
				</button>
				</form>
				<div class="dropdown-divider"></div>
			</div>
      </li>
		<!--GROOMING-->
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> GROOMING
        </a>
		
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
				<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Masks
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Hair Care
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Skin Care
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Personal Care
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
		
		<!--BABY-->
		
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> BABY
        </a>
		
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          	
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Health and Safety
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Baby Bedding
				</button>
				</form>
				<div class="dropdown-divider"></div>
		
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Feeding and Nursing
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Diapers
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
		
		<!--ESSENTIALS-->
			
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> ESSENTIALS
        </a>
			
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          	
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Kitchen Essentials
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Bedding
				</button>
				</form>
				<div class="dropdown-divider"></div>
		
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Water Filter
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Home Cleaning Essentials
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
	
		<!--BOOKS-->
		
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> BOOKS
        </a>
			<% row = row +1  %>
    		<% col = 1  %>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Stationary
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Academic Books
				</button>
				</form>
				<div class="dropdown-divider"></div>
			<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Digital Learning
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Pet Essentials
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		

		
		<li class="nav-item">
   	    	 <a class="nav-link" style="font-family: 'Spinnaker', sans-serif;" href="#contact"><i class="fas fa-envelope"></i> CONTACT US</a>
	  	</li>	
	  </ul>
	
	  
		<ul class="nav justify-content-end">
			
				<!-- Button trigger modal -->	
				<button style="margin:auto;" type="button" style="width:100px;" class="btn btn-outline-dark my-2 my-sm-0 mod-btn text-dark" data-toggle="modal" data-target="#exampleModal-login">
				  LOGIN
				</button>
				<form class="nav-link" class="form-inline my-2 my-lg-0" action="/" method="POST">
					<!-- Modal -->
			
					<div class="modal fade" id="exampleModal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
						<div class="modal-content bg-light">
						  <div class="modal-header">
							<h5 class="modal-title m-auto" id="exampleModalLabel" >LOGIN</h5>
						  </div>
						  <div class="modal-body">
									<div>
										<label>Email-id.</label>
										<input required class="form-control mr-sm-2" type="email" name="userEmail" placeholder="email">
									</div>
									<div>
										<label>Password.</label>
										<input required class="form-control mr-sm-2" type="password" name="userPass" placeholder="password">
									</div>
						  </div>
						  <div class="modal-footer">
						<button type="button" class="btn btn-danger m-auto" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-info m-auto" style="background:#047BD5;">LOGIN</button>
							</div>
						</div>
					  </div>
					</div>
				</form>
				
					
				<!-- Button trigger modal -->
				<button style="margin:auto;" type="button" class="btn btn-outline-dark my-2 my-sm-0 mod-btn text-dark" data-toggle="modal" data-target="#exampleModal-signup">SIGNUP
				</button>
				<form class="nav-link" class="form-inline my-2 my-lg-0" action="/signup" method="POST">
					<!-- Modal -->
					<div class="modal fade" id="exampleModal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
						<div class="modal-content bg-light">
						  <div class="modal-header">
							<h5 class="modal-title m-auto" id="exampleModalLabel" >SIGNUP</h5>
						  </div>
						  <div class="modal-body">
								<div>
									<label>Enter a valid email-id.</label>
									<input required class="form-control mr-sm-2" type="email" name="userEmail" placeholder="email">
									<small id="emailHelp" class="form-text text-light mb-0">A VERIFICATION LINK WILL BE SENT TO THIS EMAIL-ID</small>
									<small id="emailHelp" class="form-text text-light mt-0">(We'll never share your email with anyone else..)</small>
								</div>
								<div>
									<label class="mt-4">Enter a password.</label>
									<input required class="form-control mr-sm-2" type="password" name="userPass" placeholder="password">
								</div>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-danger m-auto" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-info m-auto" style="background:#047BD5;">SIGNUP</button>
						  </div>
						</div>
					  </div>
					</div>
				</form>		
	  	</ul>
	</div>
</nav>

<div id = "helper"  style = "height:80px; display:flex"> </div>
