<nav class="navbar navbar-expand-xl navbar-dark fixed-top">
  <a class="navbar-brand" href="/"><span class='brand-text1'>add</span><img class='brand-img' src ='https://pngimage.net/wp-content/uploads/2018/06/png-2-5.png'><span class='brand-text2'>kart</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto text-center" >
      <li class="nav-item active">
        <a style="font-family: 'Spinnaker', sans-serif;"class="nav-link" href="/"><i class="fas fa-home "></i> HOME<span class="sr-only">(current)</span></a>
      </li>
		<!--FOOD-->
		<li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> FOOD
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Breakfast</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Snacks</a>
          	<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cooking</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Health Supplements</a>
        </div>
      </li>
		<!--GROOMING-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bath "></i> GROOMING
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Maks</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Hair Care</a>
          	<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Skin Care</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Personal Care</a>
        </div>
      </li>
		
		<!--BABY-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-baby "> </i> BABY
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Heath and Safety</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Baby Bath</a>
          	<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Feeding and Nursing</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Baby Bedding</a>
        </div>
      </li>
		
		<!--ESSENTIALS-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bed "> </i> ESSENTIALS
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Home Furnishings</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Kitchen Essentials</a>
          	<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Bedding</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Water Filter</a>
        </div>
      </li>
		<!--BOOKS-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book "> </i> BOOKS
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Stationary</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Academic Books</a>
          	<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Digital Learning</a>
			<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pet Essentials</a>
        </div>
      </li>
		
		<li class="nav-item">
   	    	 <a class="nav-link" style="font-family: 'Spinnaker', sans-serif;" href="#"><i class="fas fa-envelope"></i> CONTACT US</a>
	  	</li>	
	  </ul>
<!-- <ul class="nav justify-content-end">	
  <div style="margin:auto;" class="nav-item dropdown dropleft">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i  class="fas fa-user-circle fa-2x navbar-user-profile"></i><%- user.name %></a>
	  	<div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="#"><%- user.name+" "+user.surname %></a>
				<div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="#"><%- user.email %></a>
				<div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="#"><%- user.birthday%></a>
				<div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="#"><%- user.address%></a>
    	</div>
  </div>
</ul>
	 -->
	 <ul class="m-auto nav justify-content-center">
		 <a onclick="openNav()" data-toggle="collapse" data-target="#navbarSupportedContent"><i  class="fas fa-user-circle fa-2x navbar-user-profile "></i><%- user.name %></a>
	 </ul>
  	
	</div>
</nav>
	

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- <div class="dropdown dropleft user">
  	<a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i  class="fas fa-user-circle fa-2x navbar-user-profile"></i><%- user.name %></a>
	<div class="dropdown-menu text-center bg-light">
		  <a class="dropdown-item" href="#"><%- user.name+" "+user.surname %></a>
			<div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#"><%- user.email %></a>
			<div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#"><%- user.birthday%></a>
			<div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#"><%- user.address%></a>
	</div>
</div> -->
<div id="main" class = "w-100 p-0">

	
