<% var row = 1 %>
<% var col = 1 %>
<% var HOMELINK = 'https://add2kart.run-ap-south1.goorm.io'; %>
<% var url %>

<style>
	.cart-image{
		object-fit:cover;
		width:50px;
		height:50px;
		margin:auto;
	}
	.increase{
		
		border-radius:27.2px;
	}
	.decrease{
		
		border-radius:27.2px;
	}
	

</style>
<script>
	function postForm() {
		var inc = document.getElementsByClassName("increase");
		var quantity = "[";
		for(var i=0; i<inc.length; i++){
			quantity += document.getElementById("quantity"+i).textContent;
			quantity += ',';
		}
		quantity += "]";
		
		var form = document.createElement('form');
		form.method = "post";
		form.action = "/saved-to-cart";
		var hiddenField = document.createElement('input');
		hiddenField.name = "quantity";
		hiddenField.value = quantity;
		form.appendChild(hiddenField);
		hiddenField.name = "email";
		hiddenField.value = "<%- user.email%>";
		form.appendChild(hiddenField);
		hiddenField.name = "password";
		hiddenField.value = "<%- user.password%>";
		form.appendChild(hiddenField);
		
		document.body.appendChild(form);
		console.log(form);
		form.submit();
		// console.log(quantity);
	}
	function increase(x){
		var q = document.getElementById("quantity"+x);
		q.textContent = Number(q.textContent)+1;
		var cartValue = Number(document.getElementById("cartValue").textContent);
		var price = Number(document.getElementById("price"+x).textContent.slice(1));
		document.getElementById("row"+x).style.background = "none";
		document.getElementById("cartValue").textContent = cartValue + price;
		
	}
	function decrease(x){
		var q = document.getElementById("quantity"+x);
		q.textContent = Number(q.textContent)-1;
		if(Number(q.textContent) <=0){
			q.textContent = "0";
			document.getElementById("row"+x).style.background = "grey";
			return;
		}
		var cartValue = Number(document.getElementById("cartValue").textContent);
		var price = Number(document.getElementById("price"+x).textContent.slice(1));
		document.getElementById("cartValue").textContent = cartValue - price;
	}
	function remove(x){
		var q = document.getElementById("quantity"+x);
		var quant = Number(q.textContent);
		q.textContent = "0";
		document.getElementById("row"+x).style.background = "grey";
		var cartValue = Number(document.getElementById("cartValue").textContent);
		var price = Number(document.getElementById("price"+x).textContent.slice(1));
		document.getElementById("cartValue").textContent = cartValue - quant*price;
	}
</script>



<nav class="navbar navbar-expand-xl navbar-dark fixed-top">
  <a class="navbar-brand" href="/"><span class='brand-text1'>add</span><img class='brand-img' src ='https://cdn.pixabay.com/photo/2016/02/05/15/12/two-1181082_960_720.png'><span class='brand-text2'>kart</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto text-center" >
      <li class="nav-item active">
        <a style="font-family: 'Spinnaker', sans-serif;"class="nav-link" href="/"><i class="fas fa-home "></i> HOME<span class="sr-only">(current)</span></a>
      </li>
		<!--FOOD-->
		<li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> FOOD
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
				
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Breakfast
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Snacks
				</button>
				</form>
				<div class="dropdown-divider"></div>
		
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Cooking
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Health Supplements
				</button>
				</form>
				<div class="dropdown-divider"></div>
			</div>
      </li>
		<!--GROOMING-->
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> GROOMING
        </a>
		
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
				<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Masks
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Hair Care
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Skin Care
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Personal Care
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
		
		<!--BABY-->
		
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> BABY
        </a>
		
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          	
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Health and Safety
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Baby Bedding
				</button>
				</form>
				<div class="dropdown-divider"></div>
		
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Feeding and Nursing
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Diapers
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
		
		<!--ESSENTIALS-->
			
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> ESSENTIALS
        </a>
			
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          	
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Kitchen Essentials
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Bedding
				</button>
				</form>
				<div class="dropdown-divider"></div>
		
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Water Filter
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Home Cleaning Essentials
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
	
		<!--BOOKS-->
		
		<li class="nav-item dropdown">
		<a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> BOOKS
        </a>
			<% row = row +1  %>
    		<% col = 1  %>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Stationary
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Academic Books
				</button>
				</form>
				<div class="dropdown-divider"></div>
			<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Digital Learning
				</button>
				</form>
				<div class="dropdown-divider"></div>
			
			
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<form action = "<%- url %>" <% col = col+1 %> method="post">
				<%if(login == true){%>
					<input  class="d-none" name = "email" value = "<%- user.email%>" />
					<input  class="d-none" name = "password" value = "<%- user.password%>" />
				<% }else {%>
					<input  class="d-none" name = "email" value = "null" />
					<input  class="d-none" name = "password" value = "null" />
				<%}%>
				<button class="dropdown-item" type="submit" style="background:rgba(0, 0, 0, 0); border:0">
				Pet Essentials
				</button>
				</form>
				<div class="dropdown-divider"></div>
		</div>
	
      </li>
		
		<li class="nav-item">
   	    	 <a class="nav-link" style="font-family: 'Spinnaker', sans-serif;" href="#contact"><i class="fas fa-envelope"></i> CONTACT US</a>
	  	</li>	
	  </ul>
	
	 <ul class="m-auto nav nav justify-content-center text-light">
		<button  type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#cart"><i class="fas fa-cart-plus"></i></button>
		 <a type="button" class="profile-pic pb-0 mt-1 mb-1 " style="font-family: 'Orbitron', sans-serif;" onclick="openNav()" data-toggle="collapse" data-target="#navbarSupportedContent"> <i  class="fas fa-user-circle fa-2x navbar-user-profile  "></i><%-"	"+"-"+user.name %></a>
	 </ul>
  	
	</div>
</nav>

<!--- add to cart modal-->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="w-100 ml-0 modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
		<div class ="row">
			<div class="col-12 m-auto text-center">
				<h5 class="modal-title" id="exampleModalLongTitle">CART INFORMATION</h5>	
			 </div>
		 	<div class="col-6">
				<h5 class="modal-title">
			  		Balance- ₹<%-user.balance%>
		    	</h5>	 
		  	</div>
		  
	    	<div class="col-6">
				<h5 class="modal-title">
					Cart Value- ₹<span  id="cartValue"><%-user.cartValue%></span>
				</h5>	  
			</div>
		</div>
      </div>
      <div class="modal-body">
        <%if(user.cart.length!=0) {%>
		  
		  <%var l=user.cart.length %>
		  
		  	<% for(var i=0;i<l;i++) {%>
				
					<div class="row" id="row<%-i%>">
						<div class="col-9">
							<%if(user.cart[i].title.length<=20){%>
								<%-user.cart[i].title%>	
							<%}else{%>
								<%-user.cart[i].title.slice(0,20)%>...
							<%}%>

						</div>

						<div class="col-3 ">
							<img class="cart-image img-thumbnail" src="<%-user.cart[i].image%>">	
						</div>

						<div class="col-9 ">
							Price-<span id="price<%-i%>"><%-user.cart[i].price%></span>
						</div>

						<div class="col-3">
							<% var q=user.cart[i].quantity %>
							Quantity-
							<button type ="button" id="decrease<%-i%>" onclick="decrease(<%-i%>)" class="decrease">-</button>
							<span id="quantity<%-i%>"><%- q %></span>
							<button type ="button" id="increase<%-i%>" onclick="increase(<%-i%>)" class="increase">+</button>
						</div>
						<div class="col-12 p-3">
							<button id="remove<%-i%>" type="button" class="btn btn-sm btn-danger m-auto" onclick="remove(<%-i%>)">Remove</button>  
						 </div>
					</div>
			
		  		<hr style="height:2px;border-width:2px;color:grey;" class="mt-0 mb-0">
		  
		  	<%}%>
		<%}%>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary m-auto" data-dismiss="modal">Buy</button>
		 <button onclick="postForm()" >Save Changes to cart</button>
        <button type="button" class="btn btn-secondary m-auto" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>




<div id = "helper"  style = "height:80px; display:flex"> </div>



<div id="mySidenav" class="sidenav">
	<a class="logo-brand" href="/"><span class='logo-text1'>add</span><img class='logo-img' src ='https://cdn.pixabay.com/photo/2016/02/05/15/12/two-1181082_960_720.png'><span class='logo-text2'>kart</span></a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<hr class="sidenav-top-line">
  <p id="sidenav-para" class="sidenav-content">NAME <span class="text-light"><%- '  :  '+user.name+" "+user.surname %></span></p>
	<hr class="sidenav-line">
  <p id="sidenav-para" class="sidenav-content" >EMAIL <span class="text-light"><%- '  :  '+user.email %></span></p>
	<hr class="sidenav-line">
  <p id="sidenav-para" class="sidenav-content" >DOB <span class="text-light"><%- '  :  '+user.birthday.getDate()+" - "+user.birthday.getMonth()+" - "+user.birthday.getFullYear()%></span></p>
	<hr class="sidenav-line">
  <p id="sidenav-para" class="sidenav-content" >ADDRESS <span class="text-light"><%- '  :  '+user.address%></span></p>
	<hr class="sidenav-line">
  <p id="sidenav-para" class="sidenav-content" >ZIP <span class="text-light"><%- '  :  '+user.zip%></span></p>
	<hr class="sidenav-line">
  <p id="sidenav-para" class="sidenav-content" >CITY <span class="text-light"><%- '  :  '+user.city%></span></p>
	
	<hr class="sidenav-top-line">
	<div class="button-property">
		<button type="button" class="btn btn-lg  btn-light " data-toggle="modal" data-target="#update-info-modal">
			UPDATE INFO
		</button>

<!-- Modal -->
<form action="/update-info/<%-user.email%>" method="post">
<div class="modal fade update-form" id="update-info-modal" tabindex="-1" role="dialog" aria-labelledby="update-info-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title m-auto" id="exampleModalLongTitle">UPDATE INFO</h5>
      </div>
      <div class="modal-body">
		  	<div class="form-row">
				<div class="form-group col-md-6">
				  <label for="inputCity">Name</label> 
				  <input type="text" class="form-control" id="name" name = "name" value="<%-user.name%>" maxlength="25">
				</div>
			
				<div class="form-group col-md-6">
				  <label for="surname">Surname</label>
				  <input type="text" class="form-control" id="surname" name = "surname" value="<%-user.surname%>" maxlength="25">
				</div>
		  </div>
			  <div class="form-row">
				<div class="form-group col-md-6">
				  <label for="inputEmail4">Email</label>
				  <input type="email" class="form-control" id="inputEmail4" placeholder="<%-user.email%>" disabled value ="<%-user.email%>" name='email' maxlength="25">
				</div>
				<div class="form-group col-md-6">
				  <label for="inputPassword4">Password</label>
				  <input type="password" class="form-control" id="inputPassword4" placeholder="Password" value = "<%-user.password%>" name='password'>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputAddress">Address</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="<%-user.address%>" name='address' maxlength="25">
			  </div>
			  <div class="form-row">
				<div class="form-group col-md-6">
				  <label for="inputCity">City</label>
				  <input type="text" class="form-control" id="inputCity" name = "city" value="<%-user.city%>" maxlength="25">
				</div>
				<div class="form-group col-md-6">
				  <label for="inputZip">Zip</label>
				  <input type="Number" class="form-control" id="inputZip" value="<%-user.zip%>" name='zip' min="111111" max="777777">
				</div>
			  </div>
			  
		  <div class="form-row">
			<div class="form-group col-md-6 m-auto">
				<div class="form-check">
					<label for="date-of-birth" class="m-auto">D.O.B</label>
				  <input class="m-auto" type="date" name="birthday" value="<%-user.birthday%>" required>
					<% console.log(Date(user.birthday)+ typeof(user.birthday)) %>
				</div>
			  </div>
		  </div>
		  	  <div class="form-group m-2">
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="gridCheck" required>
				  <label class="form-check-label" for="gridCheck">
					Check me out
				  </label>
				</div>
			  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-auto" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary m-auto">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
	</div>
	<div class="button-property">
		<a href="/" class="btn btn-danger w-50 text-center" style="color:white,margin:50%;">LOGOUT</a>
	</div>
	<div class="div-bottom-line-sidenav">
		<hr class=sidenav-bottom-line>	
	</div>
	
</div>
<!-- Button trigger modal -->
<!-- <div class="dropdown dropleft user">
  	<a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i  class="fas fa-user-circle fa-2x navbar-user-profile"></i><%- user.name %></a>
	<div class="dropdown-menu text-center bg-light">
		  <a class="dropdown-item" href="#"><%- user.name+" "+user.surname %></a>
			<div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#"><%- user.email %></a>
			<div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#"><%- user.birthday%></a>
			<div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#"><%- user.address%></a>
	</div>
</div> -->

	
<script>closeNav();</script>