<% var row = 1 %>
<% var col = 1 %>
<% var HOMELINK = 'http://salty-forest-66171.herokuapp.com'; %>
<% var url %>
<nav class="navbar navbar-expand-xl navbar-dark fixed-top">
  <a class="navbar-brand" href="/"><span class='brand-text1'>add</span><img class='brand-img' src ='https://cdn.pixabay.com/photo/2016/02/05/15/12/two-1181082_960_720.png'><span class='brand-text2'>kart</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto text-center" >
      <li class="nav-item active">
        <a style="font-family: 'Spinnaker', sans-serif;"class="nav-link" href="/"><i class="fas fa-home "></i> HOME<span class="sr-only">(current)</span></a>
      </li>
		<!--FOOD-->
		<li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Spinnaker', sans-serif;"><i class="fas fa-pizza-slice "> </i> FOOD
        </a>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url %>">Breakfast</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url %>">Snacks</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url %>">Cooking</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url %>">Health Supplements</a>
        </div>
      </li>
		<!--GROOMING-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bath "></i> GROOMING
        </a>
			<% row = row +1  %>
    		<% col = 1  %>
			
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<a class="dropdown-item" href="<%- url%>">Masks</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url%>">Hair Care</a>
          	<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url%>">Skin Care</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%- url%>">Personal Care</a>
        </div>
      </li>
		
		<!--BABY-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-baby "> </i> BABY
        </a>
			<% row = row +1  %>
    		<% col = 1  %>
			
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<a class="dropdown-item" href="<%-url%>">Heath and Safety</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Baby Bath</a>
          	<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Feeding and Nursing</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Baby Bedding</a>
        </div>
      </li>
		
		<!--ESSENTIALS-->
			
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bed "> </i> ESSENTIALS
        </a>
			

        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
			<a class="dropdown-item" href="<%-url%>">Home Furnishings</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Kitchen Essentials</a>
          	<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Bedding</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Water Filter</a>
        </div>
      </li>
		<!--BOOKS-->
		<li class="nav-item dropdown">
        <a style="font-family: 'Spinnaker', sans-serif;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book "> </i> BOOKS
        </a>
			<% row = row +1  %>
    		<% col = 1  %>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
        <div class="dropdown-menu text-center bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%-url%>">Stationary</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Academic Books</a>
          	<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Digital Learning</a>
			<div class="dropdown-divider"></div>
			<%col=col+1%>
			<% url = HOMELINK +"/category/"+ row +"/"+ col %>
          <a class="dropdown-item" href="<%-url%>">Pet Essentials</a>
        </div>
      </li>
		
		<li class="nav-item">
   	    	 <a class="nav-link" style="font-family: 'Spinnaker', sans-serif;" href="#contact"><i class="fas fa-envelope"></i> CONTACT US</a>
	  	</li>	
	  </ul>
	
	  
		<ul class="nav justify-content-end">
			
				<!-- Button trigger modal -->	
				<button style="margin:auto;" type="button" style="width:100px;" class="btn btn-outline-dark my-2 my-sm-0 mod-btn text-dark" data-toggle="modal" data-target="#exampleModal-login">
				  LOGIN
				</button>
				<form class="nav-link" class="form-inline my-2 my-lg-0" action="/" method="POST">
					<!-- Modal -->
			
					<div class="modal fade" id="exampleModal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
						<div class="modal-content bg-light">
						  <div class="modal-header">
							<h5 class="modal-title m-auto" id="exampleModalLabel" >LOGIN</h5>
						  </div>
						  <div class="modal-body">
									<div>
										<label>Email-id.</label>
										<input required class="form-control mr-sm-2" type="email" name="userEmail" placeholder="email">
									</div>
									<div>
										<label>Password.</label>
										<input required class="form-control mr-sm-2" type="password" name="userPass" placeholder="password">
									</div>
						  </div>
						  <div class="modal-footer">
						<button type="button" class="btn btn-danger m-auto" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-info m-auto" style="background:#047BD5;">LOGIN</button>
							</div>
						</div>
					  </div>
					</div>
				</form>
				
					
				<!-- Button trigger modal -->
				<button style="margin:auto;" type="button" class="btn btn-outline-dark my-2 my-sm-0 mod-btn text-dark" data-toggle="modal" data-target="#exampleModal-signup">SIGNUP
				</button>
				<form class="nav-link" class="form-inline my-2 my-lg-0" action="/signup" method="POST">
					<!-- Modal -->
					<div class="modal fade" id="exampleModal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
						<div class="modal-content bg-light">
						  <div class="modal-header">
							<h5 class="modal-title m-auto" id="exampleModalLabel" >SIGNUP</h5>
						  </div>
						  <div class="modal-body">
								<div>
									<label>Enter a valid email-id.</label>
									<input required class="form-control mr-sm-2" type="email" name="userEmail" placeholder="email">
									<small id="emailHelp" class="form-text text-light mb-0">A VERIFICATION LINK WILL BE SENT TO THIS EMAIL-ID</small>
									<small id="emailHelp" class="form-text text-light mt-0">(We'll never share your email with anyone else..)</small>
								</div>
								<div>
									<label class="mt-4">Enter a password.</label>
									<input required class="form-control mr-sm-2" type="password" name="userPass" placeholder="password">
								</div>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-danger m-auto" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-info m-auto" style="background:#047BD5;">SIGNUP</button>
						  </div>
						</div>
					  </div>
					</div>
				</form>		
	  	</ul>
	</div>
</nav>

<div id = "helper"  style = "height:80px; display:flex"> </div>
